<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        
        <app-personajes [personajes]="personajes">
        </app-personajes>
    </div>
    
    <div class="col">
        
        <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
        <hr> 
        <form (ngSubmit)="agregar()">
             <!--input placeholder="Nombre" type="text" [value]="nuevo.nombre" (input)="cambiarNombre($event)"/>
            <input placeholder="Poder" type="number" [value]="nuevo.poder"/-->
             <input placeholder="Nombre" type="text" [value]="nuevo.nombre" name="nombre" [(ngModel)]="nuevo.nombre"/>
             <br>
            <input placeholder="Poder" type="number" name="poder" [(ngModel)]="nuevo.poder"/> <!--[()] emite y recibe eventos Two-way binding-->
            <br>
            <button type="submit">Agregar</button>
            <br>
         </form>
    </div>
        
</div>
    <br>
    <hr>
   
